.running-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 300px;
  gap: 20px;
}

.prev, .next {
  flex: 1;
  display: flex;
  justify-content: center;
  transition: background-color 0.25s ease;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.prev img,
.next img,
.running-song {
  border-radius: 10px;
  border: 2px solid white;
  object-fit: cover;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.prev img,
.next img {
  width: 130px;
  height: 130px;
} 

.running-song {
  width: 250px;
  height: 250px;
}

.prev img:hover,
.next img:hover,
.running-song:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2);
}

/* above is Full palyer */
.running-card.full {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

/* ===== MINI PLAYER ===== */
.running-card.mini {
  height: 70px;
  background: #111;
  border-bottom: 1px solid #333;
  cursor: pointer;
  padding: 10px 16px;
}

/* Mini layout */
.mini-content {
  display: flex;
  align-items: center;
  gap: 14px;
}

.mini-content img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid white;
}

.mini-info {
  display: flex;
  flex-direction: column;
}

.mini-title {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.mini-sub {
  font-size: 12px;
  color: #aaa;
}
