.middle-panel {
  /* background-color: gray; */
  /* width: 800px;
  margin-left: 100px; */

  display: flex;
  flex-direction: column;
  overflow: hidden; /* middle panel should NOT scroll */
}

/* .middle-panel > *:not(.middle-scroll) {
  flex-shrink: 0;
} */

.middle-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.middle-scroll::-webkit-scrollbar {
  width: 6px;
}

.middle-scroll::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}