.middle-upper-part {
  /* background-color: aliceblue; */
  width: 600px;
  height: 40px;
}

.search-bar {
  width: 600px;
  height: 40px;
  border-radius: 100px;
  border-width: 0px;
  background-color: rgb(34, 34, 34);
  color: #c8c8c8;
  padding-left: 20px;
}

.search-bar::placeholder {
  color: #c8c8c8;
  opacity: 1;
}