.app-div {
  border: black solid 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center-part {
  /* display: flex;
  justify-content: space-between; */

  background-color: black;
  display: flex;
  height: calc(100vh - 70px); /* subtract header height */
  flex: 1;
  display: grid;
  grid-template-columns: 250px 1fr 250px; /* left - middle - right */
  overflow: hidden; /* prevent global scrollbars */
}

.loader {
  color: #bbb;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}