.playlist {
  background-color: #0d0d0d;
  border: 1px solid #333;
  border-radius: 12px;

  padding: 15px;
  margin: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
}

.playlist:hover {
  transform: translateY(-4px);
  background-color: #1a1a1a;
  box-shadow: 0 8px 18px rgba(255, 255, 255, 0.15);
}

.playlist h2 {
  color: white;
  font-size: 22px;
  margin-bottom: 12px;
}

.playlist h4 {
  color: #ddd;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;

  transition: color 0.25s ease, transform 0.25s ease;
}

.playlist h4:hover {
  color: #c084fc;
  transform: translateX(5px);
}

.add-playlist-btn {
  margin-top: 10px;
  width: 100%;
  padding: 8px;

  background-color: #222;
  color: #c084fc;
  border: 1px solid #444;
  border-radius: 8px;

  cursor: pointer;
  font-size: 14px;

  transition: 0.25s ease;
}

.add-playlist-btn:hover {
  background-color: #333;
  color: white;
  transform: scale(1.05);
}

.playlist-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px 0;
}

.remove-btn {
  background: transparent;
  border: none;
  color: #888;
  font-size: 16px;
  cursor: pointer;

  transition: 0.25s;
}

.remove-btn:hover {
  color: #ff4d4d;
  transform: scale(1.2);
}

.heart-icon {
  width: 20px;
  height: 20px;
  color: #c084fc;
  opacity: 0.9;
}

.heart-icon:hover {
  transform: scale(1.1);
}