.left-panel {
  width: 220px;
  flex: 1;
  overflow-y: auto;

  background-color: black;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  border-right: 1px solid #444;
}

/* Scrollbar */
.left-panel::-webkit-scrollbar {
  width: 8px;
}
.left-panel::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}
.left-panel::-webkit-scrollbar-thumb:hover {
  background: #666;
}
